baseURL = "https://thomas.lutkus.net/"
languageCode = "en-us"
title = "Thomas Lutkus"
theme = "PaperMod"

[taxonomies]
  tag = "tags"
  category = "categories"
  series = "series"

[params]
  author = "Thomas Lutkus"
  description = "Infrastructure engineering, Linux, Automation"
  ShowReadingTime = true
  ShowPostNavLinks = true
  ShowCodeCopyButtons = true

[menu]
  [[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 1
  [[menu.main]]
    name = "Tags"
    url = "/tags/"
    weight = 2
  [[menu.main]]
    name = "Series"
    url = "/series/"
    weight = 3
  [[menu.main]]
    name = "Categories"
    url = "/categories/"
    weight = 4
  [[menu.main]]
    name = "About"
    url = "/about/"
    weight = 5